:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #213547;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100dvh;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.n-scrollbar-rail {
  display: none !important;
}

a {
  color: inherit;
}
